    <div class="text">

      <p>생리컵은 아직 국내에서 판매가 불법이라 해외구매를 통해서만 사용할 수 있는 월경용품입니다. 그래서 생리컵이라는 제품을 처음 들어보신 분도 계실 것이고, 들어는 봤으나 아직 생소하게 느껴지는 분도 계실 겁니다.</p>
      <p>직접 본 적도, 들어본 적도 별로 없는 생리컵. 해외에서는 생필품 가게에서 일회용 생리대와 같이 판매되고 있어 일상에서 쉽게 접할 수 있는 제품입니다.</p>
      <p>생리컵은 과연 어떻게 생겼고 어떤 원리로 생리혈이 새지 않도록 해주는 것일까요? 미지의 것처럼 느껴지는 생리컵에 대해 하나씩 알아봅시다.</p>
      <h2>생리컵</h2>
      <p>생리컵은 월경용품의 한 종류입니다. 생리컵은 다른 월경용품들과는 달리 생리혈을 흡수하는 월경용품이 아닙니다. 생리컵은 질내에 삽입하여 사용하는 제품으로, 질내에 들어간 후 생리혈을 흡수하지 않고 모으기만 합니다. 생리혈이 어느 정도 모이면 생리컵을 빼내어 비워내고 씻어서 다시 사용할 수 있습니다. </p>
      <p>생리컵은 천연 고무나 라텍스를 소재로 만든 제품도 있지만, 대부분은 의학용 실리콘으로 제작됩니다.</p>


      <h2>생리컵의 구조</h2>
      <p>생리컵을 전체적으로 보면 대부분 종 모양으로 생겼습니다. 이 종 모양의 그릇이 생리혈을 받아내는 역할을 합니다.</p>
      <p>그릇 역할을 하는 부분 이외에도 생리컵을 넣고 빼기 쉽게하기 위한 손잡이 부분과, 생리혈이 빠져나가지 않도록 일종의 진공 상태를 잘 유지하게 해주는 주둥이 부분, 생리컵을 뺄 때 진공 상태를 풀어주기 위한 공기 구멍 등으로 구성되어 있습니다.</p>

      <div class="instruction">
        아래의 생리컵들에 마우스를 올려 생리컵의 구조를 살펴보세요.
      </div>

      <div class="middle_img">
         <img src="img/161222_cup_structure2.png" alt="생리컵의 구조" /> 
        <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/986441/161222_cup_structure2.png" alt="생리컵의 구조" />-->
      </div>

</div>
