


<div id="backToTop" (click)="gotoTop()"><p>TOP</p></div>

<inter-scroll></inter-scroll>

<header class="header">
        <div class="logo">
                <a routerLink="/home" routerLinkActive="active">안녕, 생리컵?</a>
        </div>
        <div class="menu">
                <ul>
                        <li *ngFor="let menu of menuList">
                                <a (click)="onMenu(menu.name)"routerLink="{{menu.url}}" routerLinkActive="active">{{menu.name}}</a>
                        </li>
                </ul>
        </div>
</header> 

<div id="wrap">
        <section class="intro">
                <div class=intro_title> <h1>{{selectedMenu}}</h1></div>
        </section>
        <section class="contents">
                <router-outlet ></router-outlet>
        </section>
</div>





