
<div id="backToTop"><p>TOP</p></div>

<header class="header">
        <div class="logo">
        <div><a routerLink="/home" routerLinkActive="active"><p>월경용품</p></a></div>
        </div>
        <div class="menu">
        <ul>
                <li><a routerLink="/pad" routerLinkActive="active">일회용 패드</a></li>
                <li><a routerLink="/cotton-pad" routerLinkActive="active">천 생리대</a></li>
                <li><a routerLink="/menses-cup" routerLinkActive="active">생리컵</a></li>
                <li><a routerLink="/tampon" routerLinkActive="active">탐폰</a></li>
        </ul>
        </div>
</header> 


<router-outlet></router-outlet>

