


<inter-gototop></inter-gototop>
<!--<inter-scroll></inter-scroll>-->

<header class="header">
        <div class="logo">
                <a routerLink="/home" routerLinkActive="active">안녕, 생리컵?</a>
        </div>
        
        <div class="menu">
                <inter-accordion ></inter-accordion>
        </div>
</header> 

<div id="wrap">
        
        <section class="intro">
                <!-- intro area-->
        </section>
        
        <section class="contents">
                <router-outlet ></router-outlet>
        </section>

        <section class="footer">
                <div></div>
                <div>관련 내용들</div>
                <div>데이터 출처는 여기에</div>
                <div>   
                        <!-- social share button -->
                        <util-social></util-social>
                </div>
        </section>
        
</div>





