


<!-- 인트로 -->
<div class="text">
        <p>생리컵은 질내에 삽입하는 생리용품이다보니 사용법을 잘 알지 못하고는 제대로 사용하기가 어렵습니다.아프지 않고 편하게 사용하려면 사용법을 꼭 알아두어야 합니다. 사용할 생리컵이 준비가 되셨나요? 이제 단계별로 사용법을 자세히 알아봅시다.</p>

        <h2>생리컵을 사용하는 단계</h2>
        
        <p>생리컵을 사용하는 단계를 가장 간단하게 표현하자면, “접어서 넣고 빼서 비운다.” 입니다.생리중이라면 비운 생리컵을 씻어서 다시 접어서 넣으면 되고, 생리가 끝났다면 비운 생리컵을 씻고 말려서 다음 생리 때까지 잘 보관하면 되겠지요</p>
        
        <p>말은 쉽지만 막상 사용해보려면 궁금한 점이 많이 생기게 됩니다.</p>
        <blockquote>“어떻게 접어야 잘 접은 건가요?”<br/>“생리컵을 넣은 후 몇 시간이 지나서 빼내야 하나요?”<br/>“생리컵을 비운 후에는 물로만 씻어도 되는 건가요?”</blockquote>
        
        <div class="instruction">아래는 생리컵을 사용하는 과정에 대한 그림입니다. 각 과정을 누르면 해당하는 과정에 대한 설명 부분으로 볼 수 있습니다. 전체 과정을 주욱 보고 싶다면 스크롤을 계속 내려주세요.</div>
</div>  

<div class="whole_img">
        <img src="../img/161218_flowchart.png" alt="생리컵 사용 과정 흐름도" width="780px">
</div>   

<!-- 단계시작 --> 
<div class="text">
        <div class="step">
        <h3>1단계</h3>    
        <h2>손 씻고 생리컵 준비 하기</h2>
        <p>생리컵을 넣기 전에 손을 깨끗이 씻어줍니다. 보관해두었던 생리컵을 꺼내어 손으로 잡습니다. 생리컵을 아직 구매하지 못했다면 <a href="#">이곳을 클릭하여 구매 방법을 알아보세요.</a></p>
        </div>
        <div class="step">
        <h3>2단계</h3>    
        <h2>생리컵 접기</h2>
        <p>생리컵은 말랑말랑하지만 그냥은 질에 들어가기 힘들기 때문에 접어서 넣어야 합니다. 질에 잘 들어가고, 들어간 이후에 다시 원래 모양대로 잘 펴지도록 접어야 합니다.</p>
        <p>생리컵은 접는 방법에 따라 질에 들어가는 주둥이 부분의 면적도 달라지고, 질내에 들어간 뒤 원래 모양대로 되돌아가는 정도도 달라집니다.</p>
        <p>따라서 본인이 가진 컵이 부드러운 편인지, 단단한 편인지 등에 따라 알맞은 접는 방법이 달라집니다. 또한 사람마다 신체 구조도 다르기 때문에 특정 접는 방법이 가장 좋다고 할 수 없습니다. 여러 방법을 시도해보고 자신이 편하다고 느끼는 방법으로 접으면 됩니다.</p>
        </div>
        <div class="instruction">
        인터넷 검색을 통해 생리컵을 먼저 사용해본 사람들이 개발해놓은 여러 방법들을 찾아볼 수 있습니다. 아래의 그림은 다양한 생리컵 접기 방법 중 보편적으로 사용하고 있는 9가지의 생리컵 접기 방법을 모아둔 것입니다. 각 그림을 클릭하면 해당하는 접기 방법을 자세히 볼 수 있습니다.
        </div>
</div>
<!-- 단계 끝 --> 


<div *ngIf="modalState"id="modal" [class]="modalState? 'modalOn' : 'modalOff'">
        <modal  [selectedFold]="selectedFold" >
        </modal>
        <button (click)="onClose()" class="modal-close"> X </button>
</div>







<div class="middle_img">
        <div class="fold">

                <div (click)="onCard($event);" class="fold1" >
                        <div class="fold_name" >C자형 접기</div>
                        <div class="fold_explain" >
                                <div class="value_index">
                                        <span>난이도</span><br/>
                                        평가항목2<br/>
                                        평가항목3<br/>
                                        평가항목4
                                </div>
                                <div class="value_data">
                                        쉬운 편<br/>
                                        부드러운 편<br/>
                                        괜찮은 편<br/>
                                        부드러운 컵

                                </div>
                        </div>
                </div>
                <div(click)="onCard($event);"class="fold2">

                        <div class="fold_name">C자형 접기</div>
                        <div class="fold_explain">
                        <div class="value_index">
                                난이도<br/>
                                평가항목2<br/>
                                평가항목3<br/>
                                평가항목4
                        </div>
                        <div class="value_data">
                                쉬운 편<br/>
                                부드러운 편<br/>
                                괜찮은 편<br/>
                                부드러운 컵

                        </div>
                        </div>
        </div>
        <div class="fold3">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold4">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold5">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold6">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold7">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold8">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold9">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        </div> <!-- fold end -->
</div> <!-- middle img end -->
        
<div class="text">
        <div class="step">
        <h3>3단계</h3>
        <h2>생리컵 넣기 편한 자세 잡기</h2>
        <p>몸에 긴장을 풀고 근육의 힘을 빼줍니다. 오줌을 참을 때 마냥 괄약근과 회음부에 힘을 주고 있으면 생리컵이 들어갈 때 아플 수 있습니다. 생리컵을 처음 사용한다면 한 번에 들어가기 힘들 수 있으니 첫 시도에 생리컵이 제대로 들어가지 않았다고 실망할 필요는 없습니다. 넣기 힘들다면 다음 번에 해도 괜찮으니 긴장을 풉니다. 마음에 긴장을 푼 후에는 생리컵을 넣기 편한 자세를 잡아야 합니다. </p>
        </div>    
</div>

<div class="middle_img">
        <img src="../img/161218_poses.png" alt="생리컵을 넣는 자세">    
</div>
        
<div class="text">
        <div class="step">
        <h3>4단계</h3>
        <h2>생리컵 넣기</h2>
        <p>접은 생리컵의 손잡이가 발쪽을 향하도록 잡은 후, 생리컵을 잡고 있지 않은 손으로 음순을 벌려 질 입구를 열어줍니다. 질은 머리쪽으로 수직하여 있는 게 아니라 항문쪽으로 비스듬히 기울어져 있으므로 생리컵을 질 입구에서 항문쪽을 향하여 비스듬히 밀어 넣어줍니다. 밀어 넣다보면 생리컵의 탄성으로 생리컵이 퐁! 하고 펴지게 됩니다. 질 안에서 생리컵이 편하게 느껴질 때까지 밀어넣어줍니다.  </p>
        </div>    
</div>
        
        
<div class="text">
        <div class="step">
        <h3>5단계</h3>
        <h2>생리컵 잘 펴진 지 확인하기</h2>
        <p>생리컵을 질내에 넣은 후 퐁- 하고 펴지는 소리를 들었거나 펴지는 것을 느꼈다면 생리컵이 완전히 펴졌을 것입니다. 생리컵은 일종의 진공상태를 형성해서 생리혈이 새는 것을 막아주기 때문에 완전히 펴지지 않았다면 생리컵이 생리혈이 샐 수 있습니다.  손가락을 질에 집어 넣어 생리컵의 밑둥과 주둥이 부분을 훑거나 컵을 살짝씩 돌려준다거나 케겔 운동을 몇번 해주면서 생리컵이 잘 펴지도록 해줘야 합니다.
</p>
        </div>    
</div>
        
<div class="text">
        <div class="step">
        <h3>6단계</h3>
        <h2>일상생활 즐기기</h2>
        <p>일상 생활을 합니다. 그날 그날 생리양에 따라 생리컵을 착용한 지 4시간 ~ 12시간이 지나면 빼줍니다. 대부분의 여성은 아침에 생리컵을 착용했다면 저녁 이후에 한번 비워주면 됩니다. 하지만 생리양은 사람마다 다르니 생리양이 특히 많을 경우에는 더 자주 비워줍니다.</p>
        </div>    
</div>
        
        
<div class="text">
        <div class="step">
        <h3>7단계</h3>
        <h2>생리컵 빼기</h2>
        <p>생리컵을 비울 시간이 되면 생리컵을 빼줍니다. 생리컵을 사용하는 것이 익숙치 않을 때는 되도록 세면대를 함께 사용할 수 있는 화장실에서 빼줍니다. 생리컵을 빼내기 전에 생리혈이 쏟아지지 않게끔 일어서서 자세를 취해줍니다. 자세를 잡은 후에 똥을 쌀 때 처럼 힘을 줘서 생리컵이 아래로 최대한 내려오게끔 해줍니다.
        </p>
        <p>생리컵은 진공 상태로 생리혈을 모으기 때문에 생리컵을 수월하게 빼기 위해서 손가락을 질에 넣어 컵의 밑둥을 살짝 꼬집어서 진공 상태를 풉니다. 진공 상태를 풀지 않고 손잡이를 잡아당기면 아프므로 반드시 빼내기 전에 먼저 진공상태를 풀어줍니다. 
        </p>
        <p>진공 상태를 풀어준 다음에는 생리컵을 C자형 접기나 펀치 다운 접기 모양으로 접히도록 눌러준 다음 천천히 꺼냅니다. </p>
        </div>    
</div>
        
        
<div class="text">
        <div class="step">
        <h3>8단계</h3>
        <h2>생리컵 비운 후 씻기</h2>
        <p>꺼낸 생리컵에 담겨져 있는 생리혈을 변기나 세면대에 버린 후 생리컵을 물로 헹구어 줍니다. 컵 안쪽 뿐만 아니라 공기 구멍까지 물이 닿도록 생리컵을 당겨가며 씻어줍니다.</p>
        <p>물로만 씻어도 충분하지만 비누를 쓰고 싶다면, 향료가 첨가되지 않은 비누나 여성세정제를 사용하여 씻어줍니다. 비누나 세정제 성분이 질에 들어가면 좋지 않기 때문에 완전히 씻어내줘야 합니다.</p>
        </div>    
</div>
        
<div class="text">
        <div class="step">
        <h3>9단계</h3>
        <h2>끓는 물에 소독 후 보관하기</h2>
        <p>생리중이라면 세척한 생리컵을 다시 접어서 질내에 삽입합니다. 생리가 끝났다면 세척한 생리컵을 끓는 물에 10분 정도 소독한 후 잘 말려서 보관합니다.</p>
        </div>    
</div>