<div class="container">
  <div class="sprite-1" data-0p="display:block" data-5p="display:none"></div>
  <div class="sprite-2" data-0p="display:none" data-5p="display:block" data-10p="display:none"></div>
  <div class="sprite-3" data-0p="display:none" data-10p="display:block" data-15p="display:none"></div>
  <div class="sprite-4" data-0p="display:none" data-15p="display:block" data-20p="display:none"></div>
  <div class="sprite-5" data-0p="display:none" data-20p="display:block" data-25p="display:none"></div>
  <div class="sprite-6" data-0p="display:none" data-25p="display:block" data-30p="display:none"></div>
  <div class="sprite-7" data-0p="display:none" data-30p="display:block" data-35p="display:none"></div>
  <div class="sprite-8" data-0p="display:none" data-35p="display:block" data-40p="display:none"></div>
  <div class="sprite-9" data-0p="display:none" data-40p="display:block" data-45p="display:none"></div>
  <div class="sprite-10" data-0p="display:none" data-45p="display:block" data-50p="display:none"></div>
  <div class="sprite-11" data-0p="display:none" data-50p="display:block" data-55p="display:none"></div>
  <div class="sprite-12" data-0p="display:none" data-55p="display:block" data-60p="display:none"></div>
  <div class="sprite-13" data-0p="display:none" data-60p="display:block" data-65p="display:none"></div>
  <div class="sprite-14" data-0p="display:none" data-65p="display:block" data-70p="display:none"></div>
  <div class="sprite-15" data-0p="display:none" data-70p="display:block" data-75p="display:none"></div>
  <div class="sprite-16" data-0p="display:none" data-75p="display:block" data-80p="display:none"></div>
  <div class="sprite-17" data-0p="display:none" data-80p="display:block" data-85p="display:none"></div>
  <div class="sprite-18" data-0p="display:none" data-85p="display:block" data-90p="display:none"></div>
  <div class="sprite-1" data-0p="display:none" data-90p="display:block" data-95p="display:block"></div>
</div>
