<div scroller class="fixed-menu">
        <!--<div><a routerLink="/home" routerLinkActive="active">생리컵이란</a></div>-->
        <div><a>넣기</a></div>
        <div><a>빼기</a></div>
        <div><a>세척 및 보관</a></div>
</div>

<div class="text">
        <div id="product-1" class="dot">01</div>
        <h2>어떤 생리컵을 골라서 정보제공 할 것인가?</h2>
        <p>모든 생리컵을 하는 게 나을 것인가? 일단은 인지도 있고 사람들이 많이 사용하는 것이 어떤 것인지 궁금했다 나는. 그래서 세상의 모든 생리컵을 보여주기보다는 일단 사용을 많이 하는 것들을 위주로 하면 메뉴가 많을 때 생기는 선택 장애(?)를 방지할 수 있지 않을까 싶다.여러 웹페이지들에서 정보가 제공되거나 랭킹에 있는, 좋다고 하는 컵을 우선적으로 정리하려고 하고 있다.다음은 자주 가는 사이트, 혹은 구글에서 Menstrual cups ranking으로 검색에 걸린 곳에서의 순위를 정리해보았다.</p>
</div>


<div class="text">
        <div id="product-2" class="dot">02</div>
        <h1>나에게 맞는 제품 찾기</h1>
        <p>나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기나에게 맞는 제품 찾기</p>
</div>

<div class="text">
        <div id="product-3" class="dot">03</div>
       <h1>생리컵 필터링 뷰(가제)</h1>
       <p>생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)생리컵 필터링 뷰(가제)</p>

</div>