@charset 'utf-8';

@import './reset';
@import './mixin';
@import './color';
@import './typography';
@import './animation';

// $test-border: 1px solid lime;
$test-border: none;


form.party {
    margin:20px;
    
    label{
        font-size:14px;
    }
    button {
        font-weight:100;
        font-size:18px;
        border: .5px solid black;
        background: none;   
    }
}

#forum-container{
    @include size(100%, auto);
    @include flex(flex, column nowrap);



    div.forum-header{
        @include size(100%, auto);
        @include flex(flex, row nowrap);
        margin-top:20px;

        font-size:14px; //for develop
        text-align: center;
        background-color: $grey-100;
        span {
            @include size(32%, auto);
        }
        span:last-of-type{
            @include size(4%, auto);
        }
    }

    div.forum-row {
        margin-top:2px;
        font-size:14px; //for develop
        @include size(100%, auto);
        @include flex(flex, row nowrap);
        border: $test-border;
        

        


        div{
            border: $test-border;
            @include size(32%, auto);
            @include flex(flex, row nowrap);
            padding:4px;
        }
        //button div
        div:last-of-type {
            @include size(4%, auto);
            
            button {
                @include size(100%, 30px);
                font-weight:100;
                font-size:18px;
                border: .5px solid black;
                background: none;
            }

        }
        

    }



}
