@charset 'utf-8';

@import './reset';
@import './mixin';
@import './color';
@import './typography';
@import './animation';

// $test-border: 1px solid lime;
$test-border: none;

//font size
$header-text-size: 14px; // for develop
$item-text-size: 14px; // for develop



form.party {
    margin:20px;
    
    label{
        font-size:14px;
    }
    button {
        @include size(30px, auto);
        font-weight:100;
        font-size:18px;
        border: .5px solid black;
        background: none;   
    }
}

#forum-container{
    @include size(100%, auto);
    @include flex(flex, column nowrap);



    div.forum-header{
        @include size(100%, auto);
        @include flex(flex, row nowrap);
        margin-top:20px;

        font-size: $header-text-size;
        text-align: center;
        background-color: $grey-100;
        span {
            @include size(32%, auto);
        }
        span:last-of-type{
            @include size(4%, auto);
        }
    }

    div.forum-row {
        margin-top:2px;
        font-size: $item-text-size;
        @include size(100%, auto);
        @include flex(flex, row nowrap);
        border: $test-border;

        //item text
        span{
            border: $test-border;
            @include size(32%, auto);
            @include flex(flex, row nowrap);
            padding:4px;
        }
        //close button
        button {
            @include size(4%, 30px);
            font-weight:100;
            font-size:18px;
            border: .5px solid black;
            background: none;
        }
    }



}
