@charset "UTF-8";

@import './reset';

@import './mixin';
@import './color';
@import './typography';
@import './parallax';
@import './animation';
@import './sidenav';
@import './interaction/gototop';
@import './forum';

/*space*/

$gutter-width: 20px; //여백 가로 최소 사이즈
$column-width: 60px; //단 가로 최소 사이즈
$baseline-height: 30px; //세로 기준 사이즈
$margin-height1: $baseline-height/2; //15px
$margin-height2: $baseline-height; //30px
$margin-height3: $baseline-height*2; //60px
$margin-height4: $baseline-height*3; //90px


/*style reset*/

* {
  box-sizing: border-box;
}


/*styling*/

html {
  font-size: $fontSize0;
  font-family: $font-sans;
  line-height: $lineHeight0;
}

body {
  font-size: $fontSize0;
  line-height: $lineHeight0;
}

p {
  margin-top: $margin-height2;
  margin-bottom: $margin-height1;
}

h1 {
  font-size: $fontSize1;
}

h2 {
  margin-top: $margin-height4;
  font-size: $fontSize2;
  font-weight: bold;
}


/*h3요소가 앞에 존재하는 h2를 선택*/

h3~h2 {
  margin-top: 0;
}

h3 {
  font-size: $fontSize0;
  margin-top: $margin-height1;
}

blockquote {
  font-family: $fontCol-blockquote;
  font-size: $fontSize3;
  font-weight: 400;
  color: $fontCol-blockquote;
  line-height: $lineHeight1;
  letter-spacing: -0.04rem;
  margin-bottom: $margin-height3;
}

a {
  text-decoration: none;
}
a:visited,
a:link {
  color: $main-color-light;
}

a.link {
  text-decoration: underline;
  -moz-text-decoration-color: $main-color-light; /* Code for Firefox */
  text-decoration-color: $main-color-light;
}


/* 스타일링 */

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  @include flex(flex, row nowrap);
  @include size(100%, auto);
  @include min-size(960px, auto);
}

.logo {
  @include size(10%, auto);
  @include min-size(100px, auto);
  
  > a {
    margin-left:20px; 
    margin-top:20px;
    font-weight: bold;
    color: $fontCol-black;
  }
}

.menu {
  @include size(180px, auto);
  position: fixed;
  left:1%;
  
  top:38%;
}


#wrap {
  z-index: 300;
  position: relative;
  @include size(100%, auto);
  min-width: 960px;
}



.intro {
  position: relative;
  @include size(100%, 450px);
  background-color: $bgCol-intro;
}

.page_title{
  @include size(620px, auto);
  margin: 0 auto;
}


.dot{
  @include size(50px, 50px);
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 5px;
  background-image: url(./img/170118circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
  font-weight: 700;
  font-size: $fontSize4;
 
}

.small_title{
  @include size(620px, auto);
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  font-weight: 700;
  font-size: $fontSize4;
  letter-spacing: $letterSpacing0;
}

.contents {
  margin: 0 auto;
  @include size(780px, auto);
}

.contents .text {
  @include size(620px, auto);
  margin: 0 auto;
}

.contents .whole_img {
  @include size(780px, auto);
  margin: 0 auto;
}

.contents .middle_img {
  @include size(620px, auto);
  margin: 0 auto;
}


/* footer */
.footer {
  @include size(100%, 200px);
  @include flex(flex, row nowrap);
  justify-content: space-around;
  align-items: center;

  margin-top: 300px;
  background-color: $main-color;

  div {
    border: 1px solid white;
    @include size(23%, 80%);
    color:black;
  }

  div:nth-of-type(1){
    border:none;
  }
}




/* 접는 방법에 대한 표*/

.fold {
  @include flex(flex, row wrap);
  justify-content: space-between;
  margin: $margin-height3 0 $margin-height3 0;
  @include size(100%, auto);
}

.fold > div {
  @include size(180px, 280px);
  margin-top: $margin-height3;
  @include flex(flex, column nowrap);
  /*  background-image: url(../img/161218_c-fold_trans_bg.png);*/
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/986441/161218_c-fold_trans_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-around;
}

.fold > div > div {
  @include size(auto, 40%);
}

.fold_name {
  pointer-events: none;
  text-align: center;
  font-weight: bold;
}

.fold_explain {
  pointer-events: none;
  @include flex(flex, row nowrap);
}

.fold_explain div {
  @include size(50%, auto);
}

.value_index {
  font-size: $fontSize6;
  font-weight: bold;
  line-height: $lineHeight2;
  text-align: left;
  padding: 10px 0 10px 20px;
}

.value_data {
  font-size: $fontSize6;
  line-height: $lineHeight2;
  text-align: right;
  padding: 10px 20px 10px 0;
}

.instruction {
  font-size: $fontSize5;
  margin: $margin-height2 0 $margin-height3 0;
  padding: $margin-height1 $gutter-width $margin-height1 $gutter-width;
  background-color: $bgCol-instruction;
  border-radius: 0.5rem;
}

.step {
  margin-top: $margin-height4;
  border-top: 6px dotted $main-color;
}


/* 여기부터 카드 슬라이드 */

.cards {
  @include flex(flex, row nowrap);
  @include size(960px, 280px);
  border: 2px solid $main-color;
  overflow: hidden;

}

.usageCard {

  margin-top: 30px;
  @include flex(flex, column nowrap);
  flex: 0 0 180px;
  justify-content: space-around;
  @include size(180px, 100%);
  
  border: 2px solid $main-color;
  background-image: url(../img/161218_c-fold_trans_bg.png);
  background-repeat: no-repeat;
  background-position: center;

}



.history_box2 {
  margin-top: 60px;
  @include size(620px, auto);
  @include flex(flex, row nowrap);
  justify-content: space-between;
  
  > .year {
    @include size(80px,  auto);
    padding-top: 2px;
    /*     background-image: url('../img/161223_year_bg03.svg'); */
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/986441/161223_year_bg03.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 80px;
    
    color: $fontCol-white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  
   
  > .img {
      @include size(120px,  200px);
    > img { max-width: 120px; }
  }
  
  
  > .explain {
      @include size(380px,  auto);
      @include flex(flex, column nowrap); 
    
    > .title {
        @include size(380px,  auto);
        font-size: 1.2rem;
        margin-bottom: 15px; }
    
    > .text {
        @include size(380px,  auto); } 
  }
  
  
}



.text {
  animation-name: fadeIn;
  animation-duration: 1.75s;
}

/*-- 01 intro --*/
.intro_definition{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  @include size(620px, auto);

  > div:first-child{
    @include size(320px, auto);

    > img{
      width:100%;
    }
  }

  > div:last-child{
    @include size(300px, auto);
  }
}

.cup_structure{
    background-color: $bg-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 640px;

    div{
      padding : 15px 10px;
    }

    :first-child{
      width: 60%;
     
      > img {
      width: 100%;
      }

    }

    :last-child{
      width: 30%;
      font-size: $fontSize5;
      font-color: $fontCol-blockquote;

    }
}

.cups_compare{
  margin: 0 auto;
  width: 649px;

  > img{
    width: 100%;
  }
}

.cupinbody{
  @include size(780px, auto);
  margin: 0 auto;
  
  > img{
    width: 100%;
  }
}


