@charset "UTF-8";


@import "./mixin";


$img-width: 200;  //sprite 단위의 이미지 너비(px)
$img-right: 20%;  //right 
$img-top: 40%;    //top

$img-url: './img/gif/astro.png';    //sprite img path
$test-border: none;


//sprite content를 담는 div
.spritebox {
  //set skrollr img position
  position: fixed;
  right: $img-right;
  top: $img-top;
  
  
  [class^="sprite-"], [class*=" sprite-"] {
      // background-image: url(http://i.imgur.com/vpjGWKb.png);


      position: absolute;
      @include size(#{$img-width - 2}px, 200px);
      display: none;

      background-image: url($img-url);
      background-position: 0 0;
      background-repeat: no-repeat;

  }
  
  @for $i from 0 through 17 {
      .sprite-#{($i + 1)} {
          background-position: unquote(-#{($i * $img-width)}px) 0;
          border: $test-border;
      }
  }
}
