@charset "utf-8";

@import './reset';
@import './mixin';
@import './color';
@import './typography';

$border-test: magenta;

#sideNav {
        @include flex(flex, column nowrap);
        @include size(100%, auto);
        overflow:hidden;

        .index {
                z-index:500;
                @include flex(flex, row nowrap);
                @include size(100%, auto);
                margin-top:20px;
                border-top: 1px solid $grey-200;

                a{
                        @include size(80%, auto);
                }
                i {
                        @include size(20%, auto);
                }
        }
        .index:nth-of-type(1){ 
                border-top: none;
        }

        //item 들을 감싸는 영역. 이 영역에서 overflow가 필요.
        .item-container {
                margin-left:4px;
                overflow:hidden;
        }

        .items{
                span {
                        font-size:$font-items;
                }

        }
        
      

        span {
                color: $main-color-dark;
                font-weight:200;
                margin-left:10px;
        }

        span.selected {
                color: $main-color-dark;
                font-weight:500;
        }

        i {
                color:$main-color-dark;
                vertical-align: middle;
        }


        
}

