@charset "UTF-8";

/* typo */

@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* 한글 타이포 임포트 */
/* 대한체 font-family: 'Daehan', serif; */
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff') format('woff');
}

@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff') format('woff');
}







html:lang(ko) {
  font-size: 20px;
} //default font size
$fontSize0: 100%; //body
$fontSize1: 300%; //h1
$fontSize2: 200%; //h2
$fontSize3: 120%; //h3, blockquote, .history_box > .title
$fontSize4: 110%; //h4
$fontSize5: 90%; //instruction
$fontSize6: 80%; //.value_index, .value_data
$lineHeight0: 1.7647058824; //default, .side_bar
$lineHeight1: 2; //blockquote
$lineHeight2: 1.5; //.value_index, .value_data
$font-sans: 'Noto Sans KR',sans-serif; //default font-family
// $font-serif: 'Nanum Myeongjo',serif;
$font-serif: 'Daehan', serif;
$font-eng: 'Roboto', sans-serif; //


//editable area (for development)

//sidenav
$font-items: 90%;

