
<div class="text">

        <p>생리컵이라는 게 생소하게 느껴지는 입장에서, 생리컵을 착용하면 아프진 않을 지, 질 근육에 무리를 주진 않을 지, 몸에 안 좋진 않을 지, 움직이면 새거나 몸밖으로 다시 나오진 않을 지 등 많은 걱정이 앞서기 마련입니다.</p>
        
        <p>이런 막연한 두려움을 해소하고 생리컵을 올바로 사용하기 위해서는 우리 질과 포궁이 어떻게 생겼고 우리 몸에 어떻게 위치해있는지 알아야합니다.</p>
        
        <p>이제 생리컵이 질내에 들어가서 어떻게 생리혈을 모으게 되는지 알아봅시다.</p>
        
        
        <h2>생리컵의 작동 원리</h2>
        <p>생리컵을 접어 질에 넣으면, 생리컵의 탄성에 의해 원래 모양대로 펼쳐지게 됩니다. 생리컵은 펼쳐지면서 생리혈이 내려오지 못하도록 질을 봉쇄하고 생리컵과 자궁 사이에는 일종의 진공상태가 형성이 됩니다. 생리컵을 한번 넣으면 질 근육의 힘에 의해 질내에 머무르게 되어 일상 생활을 하면서도 생리혈은 질 밖으로 새어 나오지 않고 생리컵에 차곡차곡 모이게 됩니다.</p>
        <p>생리컵은 운동 중에도, 자는 동안에도 사용할 수 있습니다.</p>
        
        <div class="middle_img">
        
                <img src="../img/161222_slider.png" alt="슬라이더" width="620px" />
        </div>
        
        <h2>생리혈의 양과 특성</h2>
        <p>생리컵은 권장 착용시간이 최대 12시간입니다. 어떻게 손바닥보다 작은 생리컵이 12시간 동안이나 생리혈을 받아낼 수 있고, 생리혈이 굳지 않게 보관할 수 있는 것일까요?</p>
        
        <h4>월경량은 생각보다 많지 않습니다.</h4>
        <p>한 번의 월경 주기 동안에 몸밖으로 나오는 생리혈의 양이 얼마나 된다고 생각하시는가요? 50ml? 200ml? 500ml?</p>
        <p>사람마다 생리혈 양은 다르지만 보통 한 회의 월경 기간 동안 총 월경량은 약 25~60ml입니다. 그리고 생리컵의 용량은 대부분 20~30ml 내외입니다. 따라서 월경혈의 양이 가장 많은 월경 2,3일째를 제외하고는 생리컵이 흘러 넘치는 일은 드뭅니다.</p>
        
        <h4>생리컵이 형성한 일종의 진공상태가 생리혈의 산화를 방지합니다.</h4>
        
        
</div>
