
<div class="modal-content">
        <h1>{{selectedFold}}</h1>


        <div *ngIf="selectedFold === 'fold1'" > 

                <div class="slide1">
                        <p>C자형 접기는 간단한 접기 방법입니다. 어떤 컵을 사든지 상관없이 이 C자형 접기는 쉽게 따라할 수 있습니다. 그래서 생리컵을 구매하면 보통 제품에 따라오는 사용법에 C자형 접기에 대한 설명이 나와있습니다. 하지만 C자형 접기는 컵을 넣을 때의 크기를 많이 작게 하지는 못하기 때문에 질내에 넣기 수월한 접기 방법은 아닙니다.</p>
                </div>
                <div class="slide2">
                        <img src="./img/usage_c-fold.png">
                        slide2
                </div>
                
                <div class="slide3">
                         <h2>사용법</h2>

                        <ul>
                                <li>생리컵을 잡습니다.</li>
                                <li>생리컵을 엄지손가락으로 납작하게 눌러줍니다.</li>
                                <li>생리컵을 세로로 반으로 접어 잡습니다.</li>
                        </ul>
                                
                </div>
                <div class="slide4">
                        <p> slide 4</p>
                </div>
                

        </div>
        <div *ngIf="selectedFold === 'fold2'" >
                만약 selectedFold가 fold2이라면
        </div>
</div>
