@charset "UTF-8";
/* color */

$main-color: aquamarine;
$main-color-light: #92FFFC;
$main-color-dark: #00C4C4;
$sub-color: violet; //no fixed
$point-color: orange; //no fixed
$bg-color: #efefef;
$fontCol-black: black;
$fontCol-white: white;
$fontCol-blockquote: darkgray;
$fontCol-aquamarine: #22B2A1;
$bgCol-intro: $main-color;
$bgCol-instruction: $bg-color;
