<div class="text">
        
        <p>생리컵에 대해 들어본 적이 별로 없기 때문에 비교적 최근에 출시된 월경용품이라고 생각하실 수도 있습니다. 하지만 생리컵은 최근에 나온 것이 아닙니다. 과연 생리컵은 언제부터 사용하기 시작했을까요?</p>
        <p>생리컵의 역사와 생리컵을 생산하고 있는 국가를 살펴봅시다.</p>
        
        <h2>생리컵 역사 타임라인</h2>
        <p>최초의 생리컵은 19ㅇㅇ년에 ㅇㅇ에서 출시된 ㅇㅇㅇ입니다.</p>
        <p>생리컵이 최초로 개발된 이유는 ~~~이고, 시간이 지나면서 어떤 점을 개선하거나 어떤 점을 추가 하기 위해서 다양한 제품들이 개발되었습니다.</p>
        
        <!--
        <div class="history_box">
        <div class="pre"></div>
        <div class="year">1930</div>
        <div class="title">Coke & Mallalieu의 발명품</div>
        <div class="margin"></div>
        <div class="explain">
                <div class="img"><img src="../img/161223_history01.png"></div>
                <div class="text">생리혈을 모으는 최초의 용품이다. 지금의 생리컵의 형태보다는 길고 얇게 생겼다. 생리혈이 가득차면 공이 올라와 생리혈이 밖으로 새는 것을 방지해줬다.</div>
        </div>
        </div>
        -->
        <div class="history_box2">
                <div class="year">1930</div>
                <div class="img">
                <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/986441/161223_history01.png"/>-->
                       <img src="../img/161223_history01.png"> 
                </div>
                <div class="explain">
                <div class="title">Coke & Mallalieu의 발명품</div>
                <div class="text">생리혈을 모으는 최초의 용품이다. 지금의 생리컵의 형태보다는 길고 얇게 생겼다. 생리혈이 가득차면 공이 올라와 생리혈이 밖으로 새는 것을 방지해줬다.</div>
                </div>
        </div>
        <div class="history_box2">
                <div class="year">1930</div>
                <div class="img">
                <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/986441/161223_history02.png">-->
                       <img src="../img/161223_history02.png"> 
                </div>
                <div class="explain">
                <div class="title">Coke & Mallalieu의 발명품</div>
                <div class="text">생리혈을 모으는 최초의 용품이다. 지금의 생리컵의 형태보다는 길고 얇게 생겼다. 생리혈이 가득차면 공이 올라와 생리혈이 밖으로 새는 것을 방지해줬다.</div>
                </div>
        </div>
        <div class="history_box2">
                <div class="year">1930</div>
                <div class="img">
                <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/986441/161223_history03.png">-->
                       <img src="../img/161223_history03.png"> 
                </div>
                <div class="explain">
                <div class="title">Coke & Mallalieu의 발명품</div>
                <div class="text">생리혈을 모으는 최초의 용품이다. 지금의 생리컵의 형태보다는 길고 얇게 생겼다. 생리혈이 가득차면 공이 올라와 생리혈이 밖으로 새는 것을 방지해줬다.</div>
                </div>
        </div>
        
        <h2>생리컵 생산 국가 분포</h2>
        
        <p>현재 생리컵이 생산되고 있는 국가는 다음과 같습니다.(맵핑)</p>
        <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/986441/161223_worldmap.png">-->
                 <img src="../img/161223_worldmap.png"> 
</div>