/* mixin */
/*
@include border-radius(5px);

// Single side border-radius
@include border-top-radius(10px);
@include border-right-radius(8px);
@include border-bottom-radius(10px);
@include border-left-radius (6px);
*/
/* color */
/*style reset*/
* {
  box-sizing: border-box; }

/* slide step px */
#slider-container {
  background-color: #e9e9e9;
  width: 100%;
  height: 480px;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  overflow: hidden; }
  #slider-container .slider-controller {
    z-index: 300;
    flex-basis: 10%;
    color: #6200EA;
    width: 10%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  #slider-container .slider-row.stepN6_from_right {
    animation: stepN6_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN6_from_left {
    animation: stepN6_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN5_from_right {
    animation: stepN5_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN5_from_left {
    animation: stepN5_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN5_from_left {
    animation: stepN5_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN4_from_right {
    animation: stepN4_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN4_from_left {
    animation: stepN4_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN3_from_right {
    animation: stepN3_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN3_from_left {
    animation: stepN3_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN2_from_right {
    animation: stepN2_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN2_from_left {
    animation: stepN2_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN1_from_right {
    animation: stepN1_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.stepN1_from_left {
    animation: stepN1_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step0_from_left {
    animation: step0_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step0_from_right {
    animation: step0_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step1_from_left {
    animation: step1_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step1_from_right {
    animation: step1_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step2_from_left {
    animation: step2_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step2_from_right {
    animation: step2_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step3_from_left {
    animation: step3_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step3_from_right {
    animation: step3_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step4_from_left {
    animation: step4_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step4_from_right {
    animation: step4_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step5_from_left {
    animation: step5_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step5_from_right {
    animation: step5_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step6_from_left {
    animation: step6_from_left 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row.step6_from_right {
    animation: step6_from_right 1.05s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  #slider-container .slider-row {
    width: 90%;
    height: auto;
    margin: 20px;
    display: flex;
    flex-flow: row nowrap;
    animation: step0_from_default 1.75s; }
    #slider-container .slider-row .slider.activeCard {
      background-color: greenyellow;
      opacity: 1; }
    #slider-container .slider-row .slider {
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      width: 300px;
      height: 360px;
      flex-basis: 300px;
      flex-shrink: 0;
      align-self: center;
      margin-left: 10px;
      background-color: aquamarine; }
      #slider-container .slider-row .slider > p {
        color: white; }
    #slider-container .slider-row .slider.inactiveCard {
      animation: fadeInRight 1.05s; }

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.zoomOut {
  animation-name: zoomOut; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }
@keyframes stepLeft_default {
  from {
    -webkit-transform: translateX(600px);
    transform: translateX(600px); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes stepLeft_1 {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  to {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px); } }
@keyframes stepN6_from_left {
  from {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px); }
  to {
    -webkit-transform: translateX(-1200px);
    transform: translateX(-1200px); } }
@keyframes stepN6_from_right {
  from {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px); }
  to {
    -webkit-transform: translateX(-1200px);
    transform: translateX(-1200px); } }
@keyframes stepN5_from_left {
  from {
    -webkit-transform: translateX(-1200px);
    transform: translateX(-1200px); }
  to {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px); } }
@keyframes stepN5_from_right {
  from {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px); }
  to {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px); } }
@keyframes stepN4_from_left {
  from {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px); }
  to {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px); } }
@keyframes stepN4_from_right {
  from {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px); }
  to {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px); } }
@keyframes stepN3_from_left {
  from {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px); }
  to {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px); } }
@keyframes stepN3_from_right {
  from {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px); }
  to {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px); } }
@keyframes stepN2_from_left {
  from {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px); }
  to {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px); } }
@keyframes stepN2_from_right {
  from {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px); }
  to {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px); } }
@keyframes stepN1_from_left {
  from {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px); }
  to {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px); } }
@keyframes stepN1_from_right {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px); } }
@keyframes step0_from_left {
  from {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes step0_from_default {
  from {
    -webkit-transform: translateX(600px);
    transform: translateX(600px); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes step0_from_right {
  from {
    -webkit-transform: translateX(200px);
    transform: translateX(200px); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes step1_from_left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(200px);
    transform: translateX(200px); } }
@keyframes step1_from_right {
  from {
    -webkit-transform: translateX(400px);
    transform: translateX(400px); }
  to {
    -webkit-transform: translateX(200px);
    transform: translateX(200px); } }
@keyframes step2_from_left {
  from {
    -webkit-transform: translateX(200px);
    transform: translateX(200px); }
  to {
    -webkit-transform: translateX(400px);
    transform: translateX(400px); } }
@keyframes step2_from_right {
  from {
    -webkit-transform: translateX(600px);
    transform: translateX(600px); }
  to {
    -webkit-transform: translateX(400px);
    transform: translateX(400px); } }
@keyframes step3_from_left {
  from {
    -webkit-transform: translateX(400px);
    transform: translateX(400px); }
  to {
    -webkit-transform: translateX(600px);
    transform: translateX(600px); } }
@keyframes step3_from_right {
  from {
    -webkit-transform: translateX(800px);
    transform: translateX(800px); }
  to {
    -webkit-transform: translateX(600px);
    transform: translateX(600px); } }
@keyframes step4_from_left {
  from {
    -webkit-transform: translateX(600px);
    transform: translateX(600px); }
  to {
    -webkit-transform: translateX(800px);
    transform: translateX(800px); } }
@keyframes step4_from_right {
  from {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px); }
  to {
    -webkit-transform: translateX(800px);
    transform: translateX(800px); } }
@keyframes step5_from_left {
  from {
    -webkit-transform: translateX(800px);
    transform: translateX(800px); }
  to {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px); } }
@keyframes step5_from_right {
  from {
    -webkit-transform: translateX(1200px);
    transform: translateX(1200px); }
  to {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px); } }
@keyframes step6_from_left {
  from {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px); }
  to {
    -webkit-transform: translateX(1200px);
    transform: translateX(1200px); } }
@keyframes step6_from_right {
  from {
    -webkit-transform: translateX(1400px);
    transform: translateX(1400px); }
  to {
    -webkit-transform: translateX(1200px);
    transform: translateX(1200px); } }
@keyframes stepLeft_2 {
  from {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0); }
  to {
    -webkit-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-400px, 0, 0); } }
@keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }
@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }
.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig; }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }
@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }
.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }
@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }
.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }
@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }
.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig; }

@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }

/*# sourceMappingURL=slider.component.css.map */
