
<div class="page_title"><h1 id="intro-concept"> </h1></div>
<div class="text">
  <div class="dot">01</div>
  <div class="small_title">생리컵이란?</div>
  <div class="intro_definition">
    <div>
      <img src="./img/170118cups.png" alt="다양한 생리컵 이미지">
    </div>
    <div>
      <p>생리컵은 월경 용품의 한 종류입니다.</p>
      <p>월경 기간이 되면 생리컵을 질내에 삽입해서 월경혈을 모으고, 일정 시간이 지나면 꺼내어 씻은 후 재사용합니다.</p>
      <p>대부분의 생리컵이 말랑말랑하고 인체에 무해한 의학용 실리콘으로 제작됩니다.</p>
    </div>
  </div>

    <div class="dot">02</div>
    <div class="small_title" id="intro-structure">생리컵의 구조</div>
    <p>전 세계적으로 20개가 넘는 국가가 50개 이상의 다양한 생리컵 제품을 생산하고 있습니다. 생리컵은 브랜드별로 크기도 디자인도 색상도 제각기 다르지만, 대부분 비슷한 구조를 지니고 있습니다.</p>
    <div class="cup_structure">
      <img src="./img/170118cup_structure.png" alt="생리컵의 구조를 설명하는 이미지">
    </div>
    <p>위와 같이 대부분의 생리컵이 종모양으로 생겼습니다. 이 종모양의 컵부분이 월경혈을 받아내는 역할을 합니다.  이외에도 생리컵이 월경혈이 질을 통해 내려오지 못하도록 잘 막아주게 하기 위한 실링부분, 생리컵을 쉽게 빼내기 위해 공기를 주입할 수 있도록 하는 공기구멍, 생리컵을 빼내기 쉽게 하기 위한 손잡이 부분 등이 있습니다.</p>
 
 
<!-- 생리컵과 다른 월경용품의 비교 -->
<div class="small_section">
<div class="dot">03</div>
    <div class="small_title" id="intro-structure">생리컵을 왜 써요?</div>
    <p>일회용 생리대도 있고, 탐폰도 있고, 천 생리대도 있는데 왜 굳이 생리컵을 쓰는지 궁금해하실 수도 있습니다. 다음은 생리컵의 좋은 특성을 중심으로 월경용품 몇 가지의 특성을 비교한 것입니다. <a class="link" href="../proscons.component.html">생리컵의 장점과 단점에 관한 구체적인 내용은 '장단점' 코너에서 보실 수 있습니다.</a></p>
    <p>위에서 볼 수 있듯이 생리컵은 체내에 착용하므로 운동을 할 때에도 착용이 가능하며, 권장 착용 시간이 길며, 하나의 생리컵으로 10년 정도 사용이 가능한 것 등이 장점입니다. 월경 중에도 운동을 즐긴다거나 외음부가 축축한 느낌이 싫다거나 월경 용품을 자주 교체하기 귀찮다거나 할 때 사용하면 좋겠지요. </p>
</div>


<!-- 생리컵의 역사 -->
<div class="small_section">
  <div class="dot">03</div>
    <div class="small_title" id="intro-structure">생리컵의 역사</div>
    <p>생리컵에 대해 들어본 적이 별로 없기 때문에 비교적 최근에 출시된 월경용품이라고 생각하실 수도 있습니다. 하지만 생리컵은 최근에 나온 것이 아닙니다. 과연 생리컵은 언제부터 사용하기 시작했을까요?</p>
    <div class="cup_structure">
      <img src="./img/170118cup_structure.png" alt="생리컵의 구조를 설명하는 이미지">
    </div>
    <p>위와 같이 대부분의 생리컵이 종모양으로 생겼습니다. 이 종모양의 컵부분이 월경혈을 받아내는 역할을 합니다.  이외에도 생리컵이 월경혈이 질을 통해 내려오지 못하도록 잘 막아주게 하기 위한 실링부분, 생리컵을 쉽게 빼내기 위해 공기를 주입할 수 있도록 하는 공기구멍, 생리컵을 빼내기 쉽게 하기 위한 손잡이 부분 등이 있습니다.</p>

</div>
