<div class="page_title"><h1 id="intro-concept">생리컵이란?</h1></div>
<div class="text">
  <div class="dot">01</div>
  <div class="small_title">생리컵이란?</div>
  <div class="intro_definition">
    <div>
      <img src="./img/170118cups.png" alt="다양한 생리컵 이미지">
    </div>
    <div>
      <p>생리컵은 월경 용품의 한 종류입니다.</p>
      <p>월경 기간이 되면 생리컵을 질내에 삽입해서 월경혈을 모으고, 일정 시간이 지나면 꺼내어 씻은 후 재사용합니다.</p>
      <p>대부분의 생리컵이 말랑말랑하고 인체에 무해한 의학용 실리콘으로 제작됩니다.</p>
    </div>
  </div>

    <div class="dot">02</div>
    <div class="small_title" id="intro-structure">생리컵의 구조</div>
    <p>전 세계적으로 20개가 넘는 국가가 50개 이상의 다양한 생리컵 제품을 생산하고 있습니다. 생리컵은 브랜드별로 크기도 디자인도 색상도 제각기 다르지만, 대부분 비슷한 구조를 지니고 있습니다.</p>
    <div class="cup_structure">
      <img src="./img/170118cup_structure.png" alt="생리컵의 구조를 설명하는 이미지">
    </div>
    <p>위와 같이 대부분의 생리컵이 종모양으로 생겼습니다. 이 종모양의 컵부분이 월경혈을 받아내는 역할을 합니다.  이외에도 생리컵이 월경혈이 질을 통해 내려오지 못하도록 잘 막아주게 하기 위한 실링부분, 생리컵을 쉽게 빼내기 위해 공기를 주입할 수 있도록 하는 공기구멍, 생리컵을 빼내기 쉽게 하기 위한 손잡이 부분 등이 있습니다.</p>
 
 

</div>
