

<div class="page_title"><h1 id="intro-concept"> </h1></div>

<div class="text">
  <div id="intro-1" class="dot">01</div>
  <div class="small_title">생리컵이란?</div>
  <div class="intro_definition">
    <div>
      <img src="./img/170118cups.png" alt="다양한 생리컵 이미지">
    </div>
    <div>
      <p>생리컵은 월경 용품의 한 종류입니다.</p>
      <p>월경 기간이 되면 생리컵을 질내에 삽입해서 월경혈을 모으고, 일정 시간이 지나면 꺼내어 씻은 후 재사용합니다.</p>
      <p>대부분의 생리컵이 말랑말랑하고 인체에 무해한 의학용 실리콘으로 제작됩니다.</p>
    </div>
  </div>

    <div id="intro-2" class="dot">02</div>
    <div class="small_title" id="intro-structure">생리컵의 구조</div>
    <p>전 세계적으로 20개가 넘는 국가에서 50개 이상의 다양한 생리컵 제품을 생산하고 있습니다. 생리컵은 브랜드별로 크기도 디자인도 색상도 제각기 다르지만, 대부분 아래와 같이 그릇 역할을 하는 컵 부분과 손잡이 부분으로 이루어져 있습니다.</p>
    
    <div class="cups_compare">
    <img src="./img/170119cups.png" alt="여러 생리컵이 비슷한 구조를 지님을 보여주는 이미지">
    </div>

    <p>컵 부분은 질내에서 월경혈을 받아내는 그릇 역할을 하고 손잡이는 생리컵을 질에서 빼내기 쉽도록 해줍니다. 생리컵 중에는 손잡이가 손에 잘 잡히고 당기기 쉽도록 요철이 있거나 고리 모양으로 된 제품들도 있습니다.</p>
   


 <h3>생리컵 구조 하나씩 살펴보기</h3>
  <p>이외에도 생리컵이 월경혈이 질을 통해 내려오지 못하도록 잘 막아주게 하기 위한 실링부분, 생리컵을 쉽게 빼내기 위해 공기를 주입할 수 있도록 하는 공기 구멍, 월경혈이 어느 모였는 지 눈으로 가늠하기 쉽도록 생리컵 벽면을 따라 표시되어 있는 선 등이 있습니다.</p>
    <div class="cup_structure">
   
      <div><img src="./img/170118cup_structure.png" alt="생리컵의 구조를 설명하는 이미지"></div>
      <div>왼쪽의 생리컵 그림에 마우스를 올리면 각 구조에 대한 자세한 설명을 보실 수 있습니다.</div>  
    </div>
    


<!-- 생리컵이 체내에 자리하는 위치 -->
<div class="small_section">
<div id="intro-4" class="dot">03</div>
    <div class="small_title" id="intro-structure">체내에 자리하는 위치</div>
    <p>생리컵은 접힌 상태에서 질 입구를 통해 들어간 후 포궁 경부 아래에서 원래 모양대로 펴진 후 위치가 고정됩니다. 질과 포궁 사이에는 포궁으로 가는 출입문 역할을 하는 작은 구멍이 있는 포궁 경부라는 곳이 있습니다. 포궁 경부라는 출입문은 매우 작아서 생리컵이 포궁 내로 들어갈 수 없습니다.</p>
    <div class="cupinbody">
    <img src="./img/170118_cupinbody.gif" alt="생리컵이 질내에 들어가는 과정에 대한 이미지">
    </div>
</div>
 
 
<!-- 생리컵과 다른 월경용품의 비교 -->
<div class="small_section">

<div id="intro-4" class="dot">04</div>
    <div class="small_title" id="intro-structure">생리컵을 왜 써요?</div>
    <p>월경 용품을 평생에 걸쳐 하나만 쓰는 사람은 거의 없을 것입니다. 가격, 착용감, 월경양, 그리고 상황에 따라 이것 저것 써보겠죠. 하지만 '이것 저것'이라는 선택의 범위가 일회용 패드 생리대만 한정되어 있진 않으신가요?</p>
    
    <p>월경용품에는 일회용 패드 생리대 뿐만 아니라, 탐폰, 천 생리대, 생리팬티 등 다양한 선택권이 있습니다. 그리고 일회용 패드 생리대라는 선택의 기준을 벗어나 사용해본 다른 월경용품이 자신에게 가장 편하고 잘 맞는 월경용품일 수도 있겠지요. 다양한 월경용품을 기분, 몸 상태, 선호도에 따라 그때 그때 선택하여 사용할 수 있을 때 우리는 더 편하고 기분 좋게 월경 기간을 보낼 수 있을 것입니다.</p>
    
    <p>생리컵은 우리의 월경용품 선택지에 포함되지도 못하기에는 다양한 장점들이 있습니다. 다양한 월경 용품 중에 주로 생리컵을 사용하는 사람들은 왜 일반적으로 많이들 사용하고, 판매되는 일회용 패드 생리대 대신 굳이 생리컵을 쓸까요? 다음은 생리컵의 좋은 특성을 중심으로 월경용품 몇 가지의 특성을 비교한 것입니다. <a class="link" href="../proscons.component.html">생리컵의 장점과 단점에 관한 구체적인 내용은 '장단점' 코너에서 보실 수 있습니다.</a></p>
    <p>&lt;비교 표&gt;</p>
    <p>위에서 볼 수 있듯이 생리컵은 체내에 착용하므로 운동을 할 때에도 착용이 가능하며, 권장 착용 시간이 길며, 하나의 생리컵으로 10년 정도 사용이 가능한 것 등이 장점입니다. 월경 중에도 운동을 즐긴다거나 외음부가 축축한 느낌이 싫다거나 월경 용품을 자주 교체하기 귀찮다거나 할 때 사용하면 좋겠지요.</p>
</div>



<!-- 생리컵이 우리나라에 없는 이유 -->
<div class="small_section">

  <div id="intro-5" class="dot">05</div>
    <div class="small_title" id="intro-structure">왜 한번도 본 적이 없는거죠?</div>
    <p>이렇게 좋은 점이 많은 생리컵을 왜 우린 들어보지 못했을까요? 아마도 생리컵에 대해 들어본 적이 별로 없기 때문에 비교적 최근에 출시된 월경용품이라고 생각하실 수도 있습니다. 혹은 '안 쓰는 데는 이유가 있겠지'라며 좋지 않으니 널리 쓰이지 않고 있다고 생각하실 수도 있겠네요.</p>

    <p>하지만 생리컵은 역사가 오래된 제품입니다. 질내에 삽입하여 월경혈을 받도록 고안된 생리컵과 같은 원리의 월경 용품은 1903년에 최초로 고안되었고, 현재 출시된 제품 중에 대다수의 형태를 차지하는 종모양의 생리컵은 1932년에 출시되었습니다. 일회용 생리대가 1919년에 처음 출시되었다고 하니, 생리컵도 일회용 생리대 못지 않은 꽤 오랜 역사를 지니고 있는 것이죠.</p>
      
    <p>또한 생리컵은 세계적으로 이미 널리 쓰이고 있는 제품입니다. 아래 지도는 각 생리컵의 공식 홈페이지에 명시된 판매처를 정리한 지도입니다. 공식적인 판매처가 유럽과 미국, 남미 등에 굉장히 많이 분포되어 있습니다. 공식 판매처 이외에도 생리컵을 파는 생활용품 가게나 약국이 많으니 실제로는 지도에 있는 곳 보다 훨씬 더 많은 곳에서 생리컵에 대한 구매, 판매가 이뤄지고 있음을 알 수 있습니다.</p>
    <iframe src="http://menstrualcupmap.com" width="620" height="400"></iframe>

    <h3>우리 주변에서 생리컵을 볼 수 없는 이유</h3>
    <p>그렇다면 왜 생리컵을 볼 수 없었을까요? 이유는 한국에서는 생리컵 생산 및 판매가 사실상 불가능하기 때문입니다.</p>
    <p>생리컵은 체내에 삽입되어 월경혈을 받아내는 제품인만큼 안전과 품질에 대한 기준이 분명 있어야 합니다. 때문에 국내에서도 생리컵이 판매가 늘자 식품의약품안전처에서 2016년 7월에 생리컵을 약사법상 의약외품으로 지정하고 판매단속에 나섰습니다. 문제는 의약외품 지정하여 단속하는 것 이외에 생리컵이 의약외품으로 인정받기 위한 허가 기준을 마련하지 않았다는 점입니다.</p>

    <p>생리컵을 의약외품으로서 합법적으로 생산, 판매하기 위한 기준 자체를 마련하지 않고 있기 때문에 한국에서는 합법적으로 생산 자체를 할 수 없는 현실입니다. 해외에서는 대부분의 나라에서 생리컵을 의약외품이 아닌 의료기기로 지정하고 있으며, 미국 식약청 FDA에서도 생리컵을 2등급 의료기기로 지정하고 관련 기준을 마련하여 문컵, 루넷컵, 스쿤컵 등 여러 생리컵이 합법적으로 판매되고 있습니다. 하지만 한국에서는 관련 기준 자체가 없어 판매 자체가 될 수 없습니다.</p>

    <p>그래서 각 생리컵의 공식 온라인 사이트나 아마존, 아이허브 등의 쇼핑 사이트에서 구매를 하고 해외배송으로만 받아볼 수 있는 실정입니다. 이런 상황은 다양한 월경 용품을 사용해보고 자신에게 맞는 용품을 사용할 수 있게끔 하는 선택의 폭을 줄여버립니다.</p>

    <p>식품의약안전처에서는 12월 20일에 공식 페이스북 계정을 통해 "현재 생리컵을 시중에 유통 판매하고자 하는 제조업체 등과 상담을 통해 빠른 시간 내에 해당 제품이 허가 및 판매가 될 수 있도록 노력하고 있습니다."라고 입장을 밝혔습니다. 실제로 기준이 마련되기 전까지는 두눈 부릅뜨고 지켜봐야 할 필요가 있겠습니다.</p>
</div>