<section class="side_bar">
        <ul>
        <li>{{sectionTitle}}</li>
        <li>생리컵이란?</li>
        <li>제품 정보</li>
        <li>역사</li>
        <li>장단점</li>
        <li>이슈</li>
        <li>생김새</li>
        <li class="selceted">작동원리</li>
        <li>사용법</li>
        <li>생리컵의 속성</li>
        </ul>
</section>



<div class="middle_img">
        <div class="fold">

                <div class="fold1">
                        <div class="fold_name">C자형 접기</div>
                        <div class="fold_explain">
                                <div class="value_index">
                                        난이도<br/>
                                        평가항목2<br/>
                                        평가항목3<br/>
                                        평가항목4
                                </div>
                                <div class="value_data">
                                        쉬운 편<br/>
                                        부드러운 편<br/>
                                        괜찮은 편<br/>
                                        부드러운 컵

                                </div>
                        </div>
                </div>
                <div class="fold2">

                        <div class="fold_name">C자형 접기</div>
                        <div class="fold_explain">
                        <div class="value_index">
                                난이도<br/>
                                평가항목2<br/>
                                평가항목3<br/>
                                평가항목4
                        </div>
                        <div class="value_data">
                                쉬운 편<br/>
                                부드러운 편<br/>
                                괜찮은 편<br/>
                                부드러운 컵

                        </div>
                        </div>
        </div>
        <div class="fold3">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold4">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold5">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold6">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold7">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold8">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        <div class="fold9">

                <div class="fold_name">C자형 접기</div>
                <div class="fold_explain">
                <div class="value_index">
                        난이도<br/>
                        평가항목2<br/>
                        평가항목3<br/>
                        평가항목4
                </div>
                <div class="value_data">
                        쉬운 편<br/>
                        부드러운 편<br/>
                        괜찮은 편<br/>
                        부드러운 컵

                </div>
                </div>
        </div>
        </div> <!-- fold end -->
</div> <!-- middle img end -->
        

<!--

<section class="intro">
        <div class=intro_title> <h1>사용법</h1></div>
</section>

<section class="contents">

        <div class="cards">
                <div class="usageCard" (click)="checkAttr($event)">1</div>
                <div class="usageCard">2</div>
                <div class="usageCard">3</div>
                <div class="usageCard">4</div>
                <div class="usageCard">5</div>
                <div class="usageCard">6</div>
        </div>
        


        <button (click)="moveCard('prev')">
                <i class="material-icons md-48">navigate_before</i>
        </button>
        <button (click)="moveCard('next')">
                <i class="material-icons md-48">navigate_next</i>
        </button>
        
</section>

-->

