

<section class="side_bar">
        <ul>
                <li *ngFor="let index of IndexList"
                        (click)="onSelect(index)"
                        [class.selected] = 'index === selectedIndex'>
                        {{index.name}}
                </li>
        </ul>
</section>




<div id="wrap">
        <section class="intro">
                <div class=intro_title> <h1>{{selectedIndex.name}}</h1></div>
        </section>

        <section class="contents">
                <mc-definition *ngIf="selectedIndex.name_eng === 'definition'"></mc-definition>
                <mc-principle *ngIf="selectedIndex.name_eng === 'principle'"></mc-principle>
                <mc-usage *ngIf="selectedIndex.name_eng === 'usage'"></mc-usage>
                <mc-product *ngIf="selectedIndex.name_eng === 'product'"></mc-product>
                <mc-history *ngIf="selectedIndex.name_eng === 'history'"></mc-history>
                <mc-proscons  *ngIf="selectedIndex.name_eng === 'proscons'"></mc-proscons>
        </section>

        <section class="footer">
                <div class="navigationEach">

                </div>

                <span id="goToBefore" 
                (click)="navigateDir($event)"
                [hidden]="selectedIndex.id === 0">
                 before :
                </span> 

                <span id="goToNext"
                 (click)="navigateDir($event)"
                 [hidden]="selectedIndex.id === (IndexList.length-1)">  next : </span>
        </section>    
</div>

