<div scroller class="fixed-menu">
        <!--<div><a routerLink="/home" routerLinkActive="active">생리컵이란</a></div>-->
        <div><a>넣기</a></div>
        <div><a>빼기</a></div>
        <div><a>세척 및 보관</a></div>
</div>

<div class="text">
        
        <p>생리컵이라는 게 생소하게 느껴지는 입장에서, 생리컵을 착용하면 몸에 안 좋진 않을 지, 자궁 내로 들어가버리진 않을 지, 움직이면 새거나 몸밖으로 다시 나오진 않을 지, 빼내지 못해서 응급실에 가야하진 않을 지 등 많은 걱정이 앞서기 마련입니다.</p>
        
        <p>이런 막연한 두려움을 해소하고 생리컵을 올바로 사용하기 위해서는 우리 질과 포궁이 어떻게 생겼고 우리 몸에 어떻게 위치해있는지 알아야합니다.</p>
        
        <p>이제 생리컵이 질내에 들어가서 어떻게 생리혈을 모으게 되는지 알아봅시다.</p>
        
    
<div id="principle-1" class="dot">01</div>
        <div class="small_title">생리컵의 구조 및 작동 원리</div>
        <p>생리컵을 접어 질에 넣으면, 생리컵의 탄성에 의해 원래 모양대로 펼쳐지게 됩니다. 생리컵은 펼쳐지면서 질벽에 꼭 맞게되며 생리혈이 내려오지 못하도록 질을 봉쇄하고 생리컵과 자궁 사이에는 일종의 진공(실링)상태가 형성이 됩니다. 생리컵을 한번 넣으면 질 근육의 힘에 의해 질내에 머무르게 되어 일상 생활을 하면서도 생리혈은 질 밖으로 새어 나오지 않고 생리컵에 차곡차곡 모이게 됩니다.</p>
        <p>생리컵의 실링은 뚫어뻥이나 유리에 붙이는 흡착 고무처럼 잘 풀리지 않습니다. 흡착 고무가 가장 자리에 달린 꼭다리를 잡고 공기를 넣어줘야 쉽게 제거되는 것처럼 생리컵도 손가락을 넣어 공기를 주입해주기 전에는 쉽게 실링이 풀리지 않는 것이죠. 그래서 수영이나 배드민턴 같은 격한 운동 시에도, 자는 동안에도 월경혈이 새는 일 없이 사용할 수 있습니다.</p>
        
        

        <div id="principle-2" class="dot">02</div>
        <div class="small_title">생리컵과 월경혈</div>
        <p>생리컵은 권장 착용시간이 최대 12시간입니다. 어떻게 손바닥보다 작은 생리컵이 12시간 동안이나 생리혈을 받아낼 수 있고, 생리혈이 굳지 않게 보관할 수 있는 것일까요?</p>
        
        <h4>월경량은 '생각보다' 많지 않습니다.</h4>
        <p>한 번의 월경 주기 동안에 몸밖으로 나오는 생리혈의 양이 얼마나 된다고 생각하시는가요? 50ml? 200ml? 500ml?</p>
        <p>사람마다 생리혈 양은 다르지만 보통 한 주기의 월경 기간 동안 나오는 총 월경혈의 양은 25~60ml 정도입니다. 그리고 생리컵의 용량은 대부분 20~30ml 내외입니다. 따라서 월경혈의 양이 가장 많은 월경 2,3일째를 제외하고는 생리컵이 흘러 넘치는 일은 드뭅니다.</p>
        
        <h4>생리컵이 형성한 일종의 진공상태가 생리혈의 산화를 방지합니다.</h4>
        <p>생리컵이 제대로 펴지면 실링이 형성됩니다. 이는 생리컵과 자궁 경부 사이의 일종의 진공 상태를 만들어줍니다. 그래서 피가 산화되거나 굳지 않고 찰랑거리는 상태로 모여 있게 됩니다. 다만 12시간 정도가 지나면 생리혈이 산화되기 시작하므로 그 전에는 빼내어 비워주는 것을 권장합니다.</p>
        
        
        <div id="principle-3" class="dot">03</div>
        <div class="small_title">생리컵과 우리의 몸</div>
        <p>생리컵이 포궁 내로 들어가버리면 어쩌죠? 생리컵을 뺄 수 없어서 응급실에 가야하면 어떻게 하죠? 등의 걱정을 하고 계신가요?</p>
        <p>우리 몸의 구조에 대해 공부한다면 이런 걱정을 떨쳐버릴 수 있습니다.</p>

        <h4>포궁 경부는 아주 아주 좁습니다.</h4>
        <p>포궁 경부는 질과 포궁 사이의 출입문 역할을 하는 곳으로 바늘 구멍만큼 작은 구멍이 있습니다. 생리컵은 이 포궁 경부의 구멍을 통과하기에는 너무나도 큰 크기입니다. 질 입구에 넣을 때도 접어서 넣는데, 그 작은 포궁 경부를 통해 포궁 내부로 들어갈 수는 없습니다.</p>

        <h4>생리 중에는 질 입구와 포궁 경부 사이의 길이가 더 짧아집니다.</h4>
        <p>생리 중의 포궁은 평상시보다 더 크고 무겁습니다. 따라서 평소보다 아랫쪽으로 내려오게 되는데, 이에 따라 포궁 경부와 질 입구 사이의 길이는 일반적으로 손가락으로 포궁 경부를 만질 수 있을만큼 내려옵니다.</p>
        
        <p>그리고 포궁 경부가 보통의 경우보다 높게 위치하지만 길이가 짧은 생리컵을 넣어 손잡이가 손에 잘 닿지 않는 경우라도 똥을 싸는 것 마냥 힘을 주게 되면 자연스레 내려오게 되니, 그때 빼내면 됩니다.</p>

        <h4>질은 매우 탄성이 있는 조직으로 되어있습니다.</h4>
        <p>질은 매우 탄력이 있는 조직입니다. 질에 생리컵을 넣으면 생리컵이 있는 동안에는 생리컵 크기에 맞춰 늘어나 있겠지만 생리컵을 뺀 이후에는 다시 원래 크기로 돌아옵니다.</p>

</div>
</div>